*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #653478;
}

 .container{
    width: 100%;
    min-width: 100vw;
    height: 100%;
    color:#fff;
    padding: 10px;
}
.calculator{
    margin-left: 10%;
    margin-top: 10%;
    width: 100%;
    max-width: 600px;
}

.calculator h1{
    font-size: 30px;
    font-weight: 300;
}
.container h1 span{
    color: yellow;
}
.inputbox {
    margin-top: 20px; /* Adds space between heading and input box */
}

.inputbox input {
    flex:1;
    margin-right: 20px;
    padding:14px 20px;
    border:0;
    outline:0;
    font-size: 18px;
    border-radius:5px;
    position:relative;
}

.inputbox button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #653478;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.inputbox input::-webkit-calender-picker-indicator{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:auto;
    height:auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
